<div class="container">
    <div class="row">
        <div class="col-12 pt-5">
            <div class="bg-content align-self-center p-4">
                <h3 class="text-uppercase py-3">Editar Funcionário: {{departments.name}}</h3>

                <form [formGroup]="employeeForm">
                    <div class="form-group">
                        <label for="file">Foto: </label>
                        <br />
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" aria-describedby="inputGroupFileAddon04" (change)="onFileChange($event)" formControlName="picture" />
                                <label class="custom-file-label" for="customFileLabel" id="customFileLabel">Selecionar arquivo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nome:</label>
                        <input type="text" class="form-control" id="name" placeholder="Digite..." formControlName="name" />
                    </div>
                    <div class="form-group">
                        <label>RG:</label>
                        <input type="text" class="form-control" id="rg" placeholder="Digite..." formControlName="rg" />
                    </div>
                    <button type="submit" class="btn btn-danger mt-2" (click)="edit()">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>