<div class="modal-header">
    <h4 class="modal-title" id="modal-primary-title">Deletar</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body centered">
    Deseja deletar o(a) funcionário(a) {{employee.name}}?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="del()">Sim</button>
</div>